Concentrator.Plugins.ACSystems/Service References/SessionService/SessionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.client.ac-systems.com/contracts/ISessionService/2011/05" elementFormDefault="qualified" targetNamespace="http://services.client.ac-systems.com/contracts/ISessionService/2011/05" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetSessionKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSessionKeyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>