Concentrator.Objects.EDI/Service References/EDI.Communication/Concentrator.Plugins.EDI.Communication.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Concentrator.Plugins.EDI.Communication" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Concentrator.Plugins.EDI.Communication" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CommunicationType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConnectionString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EDIConnectionType" type="tns:EDIConnectionType" />
      <xs:element minOccurs="0" name="Query" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommunicationType" nillable="true" type="tns:CommunicationType" />
  <xs:simpleType name="EDIConnectionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SQL" />
      <xs:enumeration value="AW" />
      <xs:enumeration value="Oracle" />
      <xs:enumeration value="Excel" />
      <xs:enumeration value="MySql" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EDIConnectionType" nillable="true" type="tns:EDIConnectionType" />
</xs:schema>