Plugins/Concentrator.Plugins.Alatest/Service References/AlatestService/AlatestService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="AlatestService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://devnld0008.basgroup.local/AlatestService/AlatestService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://devnld0008.basgroup.local/AlatestService/AlatestService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAlatestService_GetReview_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReview" />
  </wsdl:message>
  <wsdl:message name="IAlatestService_GetReview_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReviewResponse" />
  </wsdl:message>
  <wsdl:message name="IAlatestService_GetRating_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRating" />
  </wsdl:message>
  <wsdl:message name="IAlatestService_GetRating_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRatingResponse" />
  </wsdl:message>
  <wsdl:portType name="IAlatestService">
    <wsdl:operation name="GetReview">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlatestService/GetReview" message="tns:IAlatestService_GetReview_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlatestService/GetReviewResponse" message="tns:IAlatestService_GetReview_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRating">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlatestService/GetRating" message="tns:IAlatestService_GetRating_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlatestService/GetRatingResponse" message="tns:IAlatestService_GetRating_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AlatestEndpoint" type="tns:IAlatestService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetReview">
      <soap:operation soapAction="http://tempuri.org/IAlatestService/GetReview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRating">
      <soap:operation soapAction="http://tempuri.org/IAlatestService/GetRating" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AlatestService">
    <wsdl:port name="AlatestEndpoint" binding="tns:AlatestEndpoint">
      <soap:address location="http://localhost/AlatestService/AlatestService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>