Plugins/Concentrator.Plugins.Alatest/Service References/AlatestService/AlatestService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queryString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetReviewResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRating">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queryString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRatingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRatingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>