Concentrator.Plugins.ACSystems/Service References/ProductInfoService/ProductInfoService10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.ac-systems.com/AnCWCFWebService/DataContracts/ItemInfoStock/2011/05" elementFormDefault="qualified" targetNamespace="http://www.ac-systems.com/AnCWCFWebService/DataContracts/ItemInfoStock/2011/05" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://test.client.services.ac-systems.com/v1/ProductInfoService.svc?xsd=xsd3" namespace="http://www.ac-systems.com/Support/Serialization/ItemReference/2008/11" />
  <xs:complexType name="ArrayOfItemInfoStock">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemInfoStock" nillable="true" type="tns:ItemInfoStock" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemInfoStock" nillable="true" type="tns:ArrayOfItemInfoStock" />
  <xs:complexType name="ItemInfoStock">
    <xs:sequence>
      <xs:element minOccurs="0" name="InStock" type="xs:int" />
      <xs:element xmlns:q1="http://www.ac-systems.com/Support/Serialization/ItemReference/2008/11" minOccurs="0" name="ItemReference" nillable="true" type="q1:ItemReference" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemInfoStock" nillable="true" type="tns:ItemInfoStock" />
</xs:schema>