Concentrator.Plugins.ACSystems/Service References/ProductInfoService/ProductInfoService11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.ac-systems.com/AnCWCFWebService/DataContracts/ItemInfo/2008/06" elementFormDefault="qualified" targetNamespace="http://www.ac-systems.com/AnCWCFWebService/DataContracts/ItemInfo/2008/06" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://test.client.services.ac-systems.com/v1/ProductInfoService.svc?xsd=xsd3" namespace="http://www.ac-systems.com/Support/Serialization/ItemReference/2008/11" />
  <xs:complexType name="ItemInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Category2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Category3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Category4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InStock" type="xs:int" />
      <xs:element xmlns:q1="http://www.ac-systems.com/Support/Serialization/ItemReference/2008/11" minOccurs="0" name="ItemReference" nillable="true" type="q1:ItemReference" />
      <xs:element minOccurs="0" name="Price1Piece" type="xs:double" />
      <xs:element minOccurs="0" name="PriceEndUser" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemInfo" nillable="true" type="tns:ItemInfo" />
</xs:schema>