Concentrator.Plugins.ACSystems/Service References/ProductInfoService/ProductInfoService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.ac-systems.com/AnCWCFWebService/DataContracts/CachedItemInfoCollection/2008/06" elementFormDefault="qualified" targetNamespace="http://www.ac-systems.com/AnCWCFWebService/DataContracts/CachedItemInfoCollection/2008/06" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://test.client.services.ac-systems.com/v1/ProductInfoService.svc?xsd=xsd10" namespace="http://www.ac-systems.com/AnCWCFWebService/DataContracts/CachedItemInfo/2008/06" />
  <xs:complexType name="CachedItemInfoCollection">
    <xs:sequence>
      <xs:element minOccurs="0" name="CachedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element xmlns:q1="http://www.ac-systems.com/AnCWCFWebService/DataContracts/CachedItemInfo/2008/06" minOccurs="0" name="ItemInfos" nillable="true" type="q1:ArrayOfCachedItemInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CachedItemInfoCollection" nillable="true" type="tns:CachedItemInfoCollection" />
</xs:schema>