Concentrator.Plugins.ACSystems/Service References/ProductInfoService/ProductInfoService13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AnCWCFWebService.Exceptions" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AnCWCFWebService.Exceptions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArgumentInvalidException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArgumentInvalidException" nillable="true" type="tns:ArgumentInvalidException" />
  <xs:complexType name="NotAuthorizedException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotAuthorizedException" nillable="true" type="tns:NotAuthorizedException" />
  <xs:complexType name="SessionKeyNotValidException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SessionKeyNotValidException" nillable="true" type="tns:SessionKeyNotValidException" />
  <xs:complexType name="ItemNotFoundException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemNotFoundException" nillable="true" type="tns:ItemNotFoundException" />
</xs:schema>