Web/Concentrator.Services/Service References/ZipCodeService/zipcodes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetZipcodes">
        <s:complexType />
      </s:element>
      <s:element name="GetZipcodesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetZipcodesResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetZipcodesSoapIn">
    <wsdl:part name="parameters" element="tns:GetZipcodes" />
  </wsdl:message>
  <wsdl:message name="GetZipcodesSoapOut">
    <wsdl:part name="parameters" element="tns:GetZipcodesResponse" />
  </wsdl:message>
  <wsdl:portType name="ZipCodesSoap">
    <wsdl:operation name="GetZipcodes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Zipcodes</wsdl:documentation>
      <wsdl:input message="tns:GetZipcodesSoapIn" />
      <wsdl:output message="tns:GetZipcodesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZipCodesSoap" type="tns:ZipCodesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetZipcodes">
      <soap:operation soapAction="http://tempuri.org/GetZipcodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZipCodesSoap12" type="tns:ZipCodesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetZipcodes">
      <soap12:operation soapAction="http://tempuri.org/GetZipcodes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZipCodes">
    <wsdl:port name="ZipCodesSoap" binding="tns:ZipCodesSoap">
      <soap:address location="http://localhost/concentrator/zipcodes.asmx" />
    </wsdl:port>
    <wsdl:port name="ZipCodesSoap12" binding="tns:ZipCodesSoap12">
      <soap12:address location="http://localhost/concentrator/zipcodes.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>