Payment/Concentrator.Payment.AfterPay/Service References/AfterPayMerchant/Merchant3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://afterpay.nl/services" elementFormDefault="qualified" targetNamespace="http://afterpay.nl/services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CreateInvoice">
    <xs:sequence>
      <xs:element name="UserId" nillable="true" type="xs:string" />
      <xs:element name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Portfolio" type="xs:int" />
      <xs:element minOccurs="0" name="OrderNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InvoiceLines" nillable="true" type="tns:ArrayOfInvoiceLine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateInvoice" nillable="true" type="tns:CreateInvoice" />
  <xs:complexType name="ArrayOfInvoiceLine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InvoiceLine" nillable="true" type="tns:InvoiceLine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInvoiceLine" nillable="true" type="tns:ArrayOfInvoiceLine" />
  <xs:complexType name="InvoiceLine">
    <xs:sequence>
      <xs:element minOccurs="0" name="LineNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UnitPriceInVat" type="xs:decimal" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvoiceLine" nillable="true" type="tns:InvoiceLine" />
  <xs:complexType name="CreateInvoiceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateInvoiceResponse" nillable="true" type="tns:CreateInvoiceResponse" />
</xs:schema>