Payment/Concentrator.Payment.AfterPay/Service References/AfterPayMerchant/Merchant32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://api.betaalplaats.nl/Merchant.svc?xsd=xsd2" namespace="http://afterpay.nl/services" />
  <xs:element name="CreateInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://afterpay.nl/services" minOccurs="0" name="request" nillable="true" type="q1:CreateInvoice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://afterpay.nl/services" minOccurs="0" name="CreateInvoiceResult" nillable="true" type="q2:CreateInvoiceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>