Web/Concentrator.Services/Service References/OrderInbound/OrderInbound.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://Concentrator.bascomputers.nl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://Concentrator.bascomputers.nl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://Concentrator.bascomputers.nl/">
      <s:element name="ImportOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="document" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="connectorID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ImportOrderResult" type="tns:OrderInboundResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="OrderInboundResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ImportOrderWithShipmentCosts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="document" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="connectorID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="useShipmentCosts" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportOrderWithShipmentCostsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ImportOrderWithShipmentCostsResult" type="tns:OrderInboundResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ImportOrderSoapIn">
    <wsdl:part name="parameters" element="tns:ImportOrder" />
  </wsdl:message>
  <wsdl:message name="ImportOrderSoapOut">
    <wsdl:part name="parameters" element="tns:ImportOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ImportOrderWithShipmentCostsSoapIn">
    <wsdl:part name="parameters" element="tns:ImportOrderWithShipmentCosts" />
  </wsdl:message>
  <wsdl:message name="ImportOrderWithShipmentCostsSoapOut">
    <wsdl:part name="parameters" element="tns:ImportOrderWithShipmentCostsResponse" />
  </wsdl:message>
  <wsdl:portType name="OrderInboundSoap">
    <wsdl:operation name="ImportOrder">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Import orders into the concentrator with no shipping costs</wsdl:documentation>
      <wsdl:input message="tns:ImportOrderSoapIn" />
      <wsdl:output message="tns:ImportOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ImportOrderWithShipmentCosts">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Import orders into the concentrator</wsdl:documentation>
      <wsdl:input message="tns:ImportOrderWithShipmentCostsSoapIn" />
      <wsdl:output message="tns:ImportOrderWithShipmentCostsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrderInboundSoap" type="tns:OrderInboundSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ImportOrder">
      <soap:operation soapAction="http://Concentrator.bascomputers.nl/ImportOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportOrderWithShipmentCosts">
      <soap:operation soapAction="http://Concentrator.bascomputers.nl/ImportOrderWithShipmentCosts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OrderInboundSoap12" type="tns:OrderInboundSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ImportOrder">
      <soap12:operation soapAction="http://Concentrator.bascomputers.nl/ImportOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportOrderWithShipmentCosts">
      <soap12:operation soapAction="http://Concentrator.bascomputers.nl/ImportOrderWithShipmentCosts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderInbound">
    <wsdl:port name="OrderInboundSoap" binding="tns:OrderInboundSoap">
      <soap:address location="http://localhost/Concentrator/OrderInbound.asmx" />
    </wsdl:port>
    <wsdl:port name="OrderInboundSoap12" binding="tns:OrderInboundSoap12">
      <soap12:address location="http://localhost/Concentrator/OrderInbound.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>