Concentrator.Objects/DependencyInjection/EDI/XSD/Acknowledgement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by O.Woudenberg (BAS GROUP) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:include schemaLocation="BaseTypes.xsd"/>
    <xs:element name="OrderResponse">
        <xs:annotation>
            <xs:documentation>Purchase order request</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="OrderHeader" type="OrderResponseHeader"/>
                <xs:element name="OrderDetails" type="OrderResponseDetails"/>
            </xs:sequence>
            <xs:attribute name="Version" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation>
                        This field can be usefull when a new version of the xsd with additional information is created.
                        The processor desides how to interpret the information based on this value.
                        Default value is "1.0"
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="OrderResponseHeader">
        <xs:annotation>
            <xs:documentation>Header for the OrderRequest</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SoldToCustomer" type="Customer"/>
            <xs:element name="ShipToCustomer" type="Customer"/>
            <xs:element name="CustomerOverride" type="CustomerOverride" minOccurs="0"/>
            <xs:element name="FullfillmentCode">
                <xs:annotation>
                    <xs:documentation>Indicates what action to take if a product can't be ordered.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Complete"/>
                        <xs:enumeration value="Partial"/>
                        <xs:enumeration value="Consolidate"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="CustomerOrder" type="xs:string">
                <xs:annotation>
                    <xs:documentation>A reference to the order number of the requesting customer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RequestedDate" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Date for delivering this order</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Payment" type="Payment" minOccurs="0"/>
            <xs:element name="StatusCode" type="ResponseStatusCode"/>
            <xs:element name="OrderNumber" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The order number assigned by the backend system</xs:documentation>
                </xs:annotation>
            </xs:element>
          <xs:element name="WebSiteOrderNumber" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>This is the website ordernumber</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BSKIdentifier" type="xs:int">
            <xs:annotation>
              <xs:documentation>This is the secure unique customer identifier for BAS communication</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrderResponseDetails">
        <xs:annotation>
            <xs:documentation>Contains one or multiple OrderDetail objects</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="OrderDetail" type="OrderResponseDetail" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrderResponseDetail">
        <xs:annotation>
            <xs:documentation>An orderline</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Note" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>An additional note</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ShipToCustomer" type="Customer" minOccurs="0"/>
            <xs:element name="UnitOfMeasure">
                <xs:annotation>
                    <xs:documentation>Unit of measure tht corresponds to the quantity, default is EA (Each)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="EA"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="CustomerReference" type="CustomerReference" minOccurs="0"/>
            <xs:element name="Quantity" type="ResponseQuantity">
                <xs:annotation>
                    <xs:documentation>Requested ordered quantity</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RequestedDate" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Date for delivering this order</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ProductIdentifier" type="ProductIdentifier"/>
            <xs:element name="PromisedDeliveryDate" type="xs:date" minOccurs="0"/>
            <xs:element name="StatusCode" type="ResponseStatusCode"/>
            <xs:element name="UnitPrice" type="xs:decimal"/>
            <xs:element name="LineNumber" type="xs:int"/>
            <xs:element name="TaxAmount" type="xs:decimal"/>
            <xs:element name="TaxRate" type="TaxRateCode">
                <xs:annotation>
                    <xs:documentation>Indicates the type of tax for this product. (NLH = 19%, NLL = 6%, NUL = 0%, VRY = no tax</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ResponseQuantity">
        <xs:annotation>
            <xs:documentation>Requested ordered quantity</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="QuantityBackordered" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The quantity of products that are on backorder hold</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="QuantityCancelled" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The quantity of products that are cancelled</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="QuantityShipped" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The quantity of shipped products</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="QuantityOrdered" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ResponseStatusCode">
        <xs:annotation>
            <xs:documentation>
                Status:
                Accept: The element is accepted,
                Reject: The element is on hold,
                Change: The element is accepted with modifications ,
                Delete: The element is deleted
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Accept"/>
            <xs:enumeration value="Reject"/>
            <xs:enumeration value="Change"/>
            <xs:enumeration value="Delete"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TaxRateCode">
        <xs:annotation>
            <xs:documentation>Indicates the type of tax for this product. (NLH = 19%, NLL = 6%, NUL = 0%, VRY = no tax</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="NLH">
                <xs:annotation>
                    <xs:documentation>Dutch High Taxation (19%)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NLL">
                <xs:annotation>
                    <xs:documentation>Dutch Low Taxation (6%)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BEL">
                <xs:annotation>
                    <xs:documentation>Belgium Low Rate (6%)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BEH">
                <xs:annotation>
                    <xs:documentation>Belgium High Rate (21%)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BEM">
                <xs:annotation>
                    <xs:documentation>Belgium Middle Rate (12%)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NUL">
                <xs:annotation>
                    <xs:documentation>Zero Taxation (0%)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VRY">
                <xs:annotation>
                    <xs:documentation>No Taxation</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UNKNOWN">
                <xs:annotation>
                    <xs:documentation>Unknown Taxation</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
