Web/Concentrator.Services/Service References/JdeCustomerService/JDECustomer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCustomerData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BusinessUnit" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomerDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCustomerDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomerData" />
  </wsdl:message>
  <wsdl:message name="GetCustomerDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomerDataResponse" />
  </wsdl:message>
  <wsdl:portType name="JDECustomerSoap">
    <wsdl:operation name="GetCustomerData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves full customer information from jde database</wsdl:documentation>
      <wsdl:input message="tns:GetCustomerDataSoapIn" />
      <wsdl:output message="tns:GetCustomerDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="JDECustomerSoap" type="tns:JDECustomerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCustomerData">
      <soap:operation soapAction="http://tempuri.org/GetCustomerData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="JDECustomerSoap12" type="tns:JDECustomerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCustomerData">
      <soap12:operation soapAction="http://tempuri.org/GetCustomerData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JDECustomer">
    <wsdl:port name="JDECustomerSoap" binding="tns:JDECustomerSoap">
      <soap:address location="http://localhost/BASConnector/JDECustomer.asmx" />
    </wsdl:port>
    <wsdl:port name="JDECustomerSoap12" binding="tns:JDECustomerSoap12">
      <soap12:address location="http://localhost/BASConnector/JDECustomer.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>